In [3]:
import pandas as pd
dict={'name':['smith','sammy'],'rollno':[1,2]}
pd.DataFrame(dict)

    name  rollno
0  smith       1
1  sammy       2

In [7]:
dict={x:x**2 for x in range(5)}
dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [9]:
a={'name':['Smith','Sammy'],
  'rollno':[1,2]}
a

{'name': ['Smith', 'Sammy'], 'rollno': [1, 2]}

In [23]:

pd.DataFrame(a)

    name  rollno  course
0  Smith       1  python
1  Sammy       2  python

In [37]:
del a['course']

KeyError: 'course'

In [38]:
a

{'name': ['Smith', 'Sammy'], 'rollno': 1}

In [39]:
a.items()

dict_items([('name', ['Smith', 'Sammy']), ('rollno', 1)])

In [40]:
a.keys()

dict_keys(['name', 'rollno'])

In [41]:
a.values()

dict_values([['Smith', 'Sammy'], 1])

In [42]:
a.pop('rollno',1)

1

In [43]:
a

{'name': ['Smith', 'Sammy']}

In [44]:
a.popitem()

('name', ['Smith', 'Sammy'])

In [47]:
a.get('name')

In [48]:
a.fromkeys('name','name')

{'n': 'name', 'a': 'name', 'm': 'name', 'e': 'name'}