In [48]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (3.11.3)

# Establish connection

In [49]:
import pymongo

In [50]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

In [51]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

# Step 1: Create Database

In [52]:
#create Database
DB_NAME='test'
dataBase = client[DB_NAME]
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [53]:
#List of database
client.list_database_names()

['admin', 'config', 'local', 'test']

In [54]:
#collection in database
dataBase.list_collection_names()

['iNeuron_Faculties', 'test']

# Step 2: Create collection

In [55]:
#Create Collection 
COLLECTION_NAME = "test"
collection = dataBase[COLLECTION_NAME]

# Step 3: inserting record in collection

In [56]:
#insert single record
record = {'companyName': 'abc',
         'product': 'development',
         'courseOffered': 'python development'}

collection.insert_one(record)
print('Record inserted')

Record inserted

In [57]:
#insert multiple record

list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

rec = collection.insert_many(list_of_records)

In [58]:
inserted_IDs = rec.inserted_ids
inserted_IDs

[ObjectId('6050e44d82037a50d56609c7'),
 ObjectId('6050e44d82037a50d56609c8'),
 ObjectId('6050e44d82037a50d56609c9')]

In [61]:
COLLECTION_NAME = "iNeuron"
faculties = dataBase[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "1",
    "companyName": "iknlNeuron",
    "Faculty": "Sudhanshbjkju Kumar"},
    {"_id": "2",
    "companyName": "iNeurokljnn",
    "Faculty": "Virat Sagalmr"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

In [62]:
rec=faculties_record.inserted_ids
rec

['1', '2']

# Step 5: Find in mongodb

In [63]:
#to find the first recod
find_first_record = faculties.find_one()
find_first_record

{'_id': '1', 'companyName': 'iknlNeuron', 'Faculty': 'Sudhanshbjkju Kumar'}

In [64]:
#To find all the records with all fields
all_record = faculties.find()
for i in enumerate(all_record):
    print(i)

(0, {'_id': '1', 'companyName': 'iknlNeuron', 'Faculty': 'Sudhanshbjkju Kumar'})
(1, {'_id': '2', 'companyName': 'iNeurokljnn', 'Faculty': 'Virat Sagalmr'})

In [65]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})
for i in all_record:
    print(i)

{'_id': '1', 'Faculty': 'Sudhanshbjkju Kumar'}
{'_id': '2', 'Faculty': 'Virat Sagalmr'}

# STEP 6: Query or filter out data in MongoDB

In [66]:
query1 = {"_id": '1'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '1', 'companyName': 'iknlNeuron', 'Faculty': 'Sudhanshbjkju Kumar'}

In [67]:
#query with specific condition(greater than mention as "$gt")
query2 = {"_id": {"$gt": "1"}}

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '2', 'companyName': 'iNeurokljnn', 'Faculty': 'Virat Sagalmr'}

In [68]:
#query with specific condition(greater than equal to mention as "$gt")
query2 = {"_id": {"$gte": "1"}}

results = faculties.find(query2)
for data in results:
    print(data)

{'_id': '1', 'companyName': 'iknlNeuron', 'Faculty': 'Sudhanshbjkju Kumar'}
{'_id': '2', 'companyName': 'iNeurokljnn', 'Faculty': 'Virat Sagalmr'}

# STEP 7: Delete one or many documents in MongoDB

In [69]:
# Lets add some random data in faculties
random_data = [
    {'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'XYnsedZ'},
    {'_id': '7', 'companyName': 'iNeuron', 'Faculty': 'ABCsfddf'},
    {'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'PQqwerR'},
]

faculties.insert_many(random_data)

In [70]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)
print("Record deleted")

Record deleted

In [71]:
fac=faculties.find()
for i in fac:
    print(i)

{'_id': '1', 'companyName': 'iknlNeuron', 'Faculty': 'Sudhanshbjkju Kumar'}
{'_id': '2', 'companyName': 'iNeurokljnn', 'Faculty': 'Virat Sagalmr'}
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'XYnsedZ'}
{'_id': '7', 'companyName': 'iNeuron', 'Faculty': 'ABCsfddf'}
{'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'PQqwerR'}

In [72]:
# lets delete multiple record with condition greater than equalto
multi_query_to_delete = {"_id": {"$gte": "4"}}

faculties.delete_many(multi_query_to_delete)
print(" records are deleted")
result=faculties.find()
for i in result:
    print(i)

 records are deleted
{'_id': '1', 'companyName': 'iknlNeuron', 'Faculty': 'Sudhanshbjkju Kumar'}
{'_id': '2', 'companyName': 'iNeurokljnn', 'Faculty': 'Virat Sagalmr'}

NOTE: In order to delete all the documents present in the collection you can just pass and empty dictionary as shown below: -

faculties.delete_many({})

# STEP 8: Drop the entire collection

In [73]:
faculties.drop()

# STEP 9: Update

In [74]:
name='new_collection'
coll=dataBase[name]
print("new collection created")

new collection created

In [88]:
dataBase.list_collection_names()

['iNeuron_Faculties', 'new_collection', 'test']

In [89]:
random_data = [
    {'_id': '1', 'companyName': 'iNeuron', 'Faculty': 'XYnsedZ'},
    {'_id': '2', 'companyName': 'iNeuron', 'Faculty': 'ABCsfddf'},
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'PQqwerR'},
]

In [90]:
coll.insert_many(random_data)
print("data inserted")

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': '1'}, 'errmsg': 'E11000 duplicate key error collection: test.new_collection index: _id_ dup key: { _id: "1" }', 'op': {'_id': '1', 'companyName': 'iNeuron', 'Faculty': 'XYnsedZ'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [91]:
records=coll.find()
for i in records:
    print(i)

{'_id': '1', 'companyName': 'iNeuron', 'Faculty': 'XYnsedZ'}
{'_id': '2', 'companyName': 'iNeuron', 'Faculty': 'ABCsfddf'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'PQqwerR'}

In [98]:
#Update the records
present_data = {'Faculty': 'XYnsedZ'}
new_data = {"$set":{'Faculty': 'Sudhanshu'}}
coll.update_one(present_data,new_data)

In [99]:
records=coll.find()
for i in records:
    print(i)

{'_id': '1', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu', 'faculty': 'Sudhanshu'}
{'_id': '2', 'companyName': 'iNeuron', 'Faculty': 'ABCsfddf'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'PQqwerR'}