In [2]:
#In sets duplication is not allowed
a={1,2,1}
print(a)

{1, 2}

In [3]:
a={1,2,3,4}
b={5,6,7,8}
a.add(9)
a

{1, 2, 3, 4, 9}

In [4]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
a.remove(8)
a

{1, 2, 3, 4, 5, 6, 7, 9}

In [6]:
a.discard(9)
a

{1, 2, 3, 4, 5, 6, 7}

In [7]:
a.pop()
a

{2, 3, 4, 5, 6, 7}

In [8]:
sum(a)

27

In [9]:
max(a)

7

In [10]:
min(b)

5

In [11]:
a=[2,1,5,3,4]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [19]:
#Subset means every elements of c should be present in d Return True
c={1,2,3}
d={1,2,3,4,5}
c.issubset(d)

True

In [23]:
#Issuperset means every element of d must be present in c
c={1,2,3}
d={1,2,3,4}
c.issuperset(d)

False

In [14]:
#Union add the two different set In set duplication is not allowed
c.union(d)

{1, 2, 3, 4, 5}

In [15]:
#Intersection mean common elements in both the sets
c.intersection(d)

{1, 2, 3}

In [16]:
#Difference all the common elements between c and d is removed and remeining elements is printed
c.difference(d) #It will print all the elements of c except the matching elements with d
d.difference(c) #It will print all the elements of d except the matching elements with c

{4, 5}

In [17]:
#Symmetric difference It will print all the elements from both the sets except matching ones
c={1,2,3,4,5}
d={4,5,6,7,8}
c.symmetric_difference(d)
d.symmetric_difference(c)

{1, 2, 3, 6, 7, 8}

In [18]:
#Sorted sorth the set in ascending order
c={3,4,6,8,6,3,2,1}
sorted(c)

[1, 2, 3, 4, 6, 8]